services:
  backend:
    build: ./backend
    container_name: gradbot-backend
    ports:
      - "8000:8000"
    environment:
      QDRANT_URL: "http://qdrant:6333"
    depends_on:
      - qdrant
    networks:
      - gradnet

  frontend:
    build:
      context: ./frontend
    container_name: gradbot-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - gradnet
  
  qdrant:
    image: qdrant/qdrant:latest
    restart: unless-stopped
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - 6333
      - 6334
      - 6335
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    networks:
      - gradnet

networks:
  gradnet:
    driver: bridge

configs:
  qdrant_config:
    content: |
      log_level: INFO
